{extend name="Public:common" /}
{block name="content"}
<div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">系统设置</a>
            <a>
              <cite>版本控制</cite></a>
          </span>    
       
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">               
                <div class="layui-card-header">
                    <a href="{:url('addVersion')}" class="layui-btn layui-btn-sm">{:lang('add')}</a>                   
                </div>
                <div class="layui-card-body layui-table-body layui-table-main">
                    <table class="layui-table" id="list" lay-filter="list"></table>
                </div>
            </div>
        </div>
    </div>
</div>

{/block}


{block name="js"}
<script>
    layui.use('table', function() {
        var table = layui.table, $ = layui.jquery;
        var tableIn = table.render({
            id: 'content',
            elem: '#list',
            url: '{:url("index")}',         
            method: 'post',
            toolbar: '#topBtn',
            page: true,
            cols: [[               
                {field: 'id', title: 'Id', width: 80, align: 'center'},
                {field: 'app_type',  title: 'app类型', width: 120,align: 'center',templet: '#type'},
                {field: 'version', title: '版本号', width: 200,align: 'center'},
                {field: 'content',  title: '更新内容', width: 400,align: 'center'},
                {field: 'link', title: '连接地址', width: 400,align: 'center'},
                {field: 'update_time', align: 'center', title: '创建时间', width: 200, },
                {width: 160, align: 'center', toolbar: '#action',title:'操作',align: 'center'}
            ]],
            limit: 10
        });        
       
        table.on('tool(list)', function(obj) {
            var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('您确定要删除该内容吗？', function(index){
                    var loading = layer.load(1, {shade: [0.1, '#fff']});
                    $.post("{:url('del')}",{id:data.id},function(res){
                        layer.close(loading);
                        if(res.code===1){
                            layer.msg(res.msg,{time:1000,icon:1});
                            obj.del();
                        }else{
                            layer.msg('操作失败！',{time:1000,icon:2});
                        }
                    });
                    layer.close(index);
                });
            }
        });
        
    });
    
</script>
<script type="text/html" id="type">
    {{# if(d.app_type==0){ }}
    Android
    {{#} else if(d.app_type==1){ }}
    IOS
    {{#}}}
</script>
<script type="text/html" id="action">    
    <a href="{:url('edit')}?id={{d.id}}" class="layui-btn layui-btn-xs">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
{/block}