{extend name="Public:common" /}


{block name="content"}
    <div class="layui-fluid">
        <div class="layui-row">
            <div class="layui-card">
                <table class="layui-table" id="list" lay-filter="list"></table>
            </div>
        </div>
    </div>
{/block}


{block name="js"}
<script type="text/javascript">
    layui.use(['table','form'], function() {

        var table = layui.table, $ = layui.jquery, form = layui.form;

        var tableIn = table.render({

            id: 'content',

            elem: '#list',

            url: '{:url("admin/sign/winner")}',

            method: 'post',
            toolbar: '#topBtn',

            page: true,

            cols: [[

                {type: "checkbox", fixed: true},
                {field: 'id', title: '编号'},
                {field: 'mobile', title: '手机号'},
                {field: 'add_time', title: '签到时间'},
                {field: 'code', title: '签到码'},
                {field: 'winstatus', title: '是否中奖'},
                {field: 'code_source', title: '签到码来源'}

            ]],

            limit: 10

        });

        $('body').on('click','#delAll',function() {
            layer.confirm('确认要删除选中的内容吗？', {icon: 3}, function(index) {
                layer.close(index);
                var checkStatus = table.checkStatus('content'); //content即为参数id设定的值
                var ids = [];
                $(checkStatus.data).each(function (i, o) {
                    ids.push(o.id);
                });
                var loading = layer.load(1, {shade: [0.1, '#fff']});
                $.post("{:url('delAll')}", {ids: ids,catid:'{:input("catid")}'}, function (data) {
                    layer.close(loading);
                    if(data.code===1) {
                        layer.msg(data.msg, {time: 1000, icon: 1});
                        tableIn.reload();
                    } else {
                        layer.msg(data.msg, {time: 1000, icon: 2});
                    }
                });
            });
        })





    });



</script>



{/block}