{extend name="Public:common" /}


{block name="content"}
    <div class="layui-fluid">
        <div class="layui-row">
            <div class="layui-card">
                <table class="layui-table" id="list" lay-filter="list"></table>
            </div>
        </div>
    </div>
{/block}


{block name="js"}
<script type="text/javascript">
    layui.use(['table','form'], function() {

        var table = layui.table, $ = layui.jquery, form = layui.form;

        var tableIn = table.render({

            id: 'content',

            elem: '#list',

            url: '{:url("admin/sign/winner")}',

            method: 'post',
            toolbar: '#topBtn',

            page: true,

            cols: [[

                {type: "checkbox", fixed: true},
                {field: 'id', title: '编号'},
                {field: 'user_mobile', title: '手机号'},
                {field: 'zj_date', title: '签到时间'},
                {field: 'user_code', title: '签到码'},
                {field: 'is_give', title: '是否送出'},
                {align: 'center', toolbar: '#action',title:'操作'}
                // {field: 'code_source', title: '签到码来源'}

            ]],

            limit: 10

        });
    });



</script>


<script type="text/html" id="action">
    {{# if(d.is_give=="未送出"){ }}
        <!-- 未送出，可以点击按钮送出   -->
        <a href="{:url('sendout')}?id={{d.id}}" class="layui-btn layui-btn-danger layui-btn-xs">奖品送出</a>
    {{# }else{  }}
        <!-- 已送出，不可以点击按钮   -->
        <a href="#" class="layui-btn layui-btn-xs layui-btn-disabled">奖品已送出</a>
    {{# } }}
</script>


{/block}