{extend name="Public:common" /}
{block name="content"}
<div class="layui-fluid">
<div class="layui-row layui-col-space15">
<div class="layui-col-md12">
<div class="layui-card">
<div class="layui-card-body">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>添加标签</legend>
    </fieldset>
    <form class="layui-form" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label">点击率</label>
            <div class="layui-input-inline">
                <select name="click_number" id="click_number"  lay-verify="required">
                    <option value="1000">1000次</option>
                    <option value="5000">5000次</option>
                    <option value="10000">10000次</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">显示位置</label>
            <div class="layui-input-block">
                {foreach name=":config('module.page')" item="ext"}
                <div class="item-checkbox">
                    <input type="checkbox" name="uploadallowfiles[]" value="{$ext.name}" title="{$ext.value}" lay-skin="primary">
                </div>
                {/foreach}
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">时间段</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="test9" placeholder="    -   " readonly name="between_time">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button" class="layui-btn" lay-submit="" lay-filter="submit">提交</button>
                <a href="{:url('lists')}" class="layui-btn layui-btn-primary">返回列表</a>
            </div>
        </div>
    </form>
</div>
</div>
</div>
</div>
</div>
{/block}
{block name="js"}
<script>
    layui.use(['form','jquery','laydate','colorpicker'], function () {
        var form = layui.form,$ = layui.jquery,colorpicker = layui.colorpicker,laydate = layui.laydate;

        //表单赋值
        /*colorpicker.render({
          elem: '#test-colorpicker-dome3'
          ,color: '#1c97f5'
          ,done: function(color){
            $('#test-colorpicker-form-input').val(color);
          }
        });*/

        form.on('submit(submit)', function (data) {
            $.post("{:url('add')}", data.field, function (res) {
                if (res.code > 0) {
                    layer.msg(res.msg, {time: 1800, icon: 1}, function () {
                        window.location.href="{:url('index')}"
                    });
                } else {
                    layer.msg(res.msg, {time: 1800, icon: 2});
                }
            });
        });

        //时间范围
        laydate.render({
            elem: '#test9'
            ,type: 'time'
            ,range: true
        });
    });
</script>{/block}