{extend name="Public:common" /}
{block name="content"}
<div class="layui-fluid">
<div class="layui-row layui-col-space15">
<div class="layui-col-md12">
<div class="layui-card">
<div class="layui-card-body">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>{$title}</legend>
    </fieldset>
    <form class="layui-form layui-form-pane">
        <div class="layui-form-item">
            <label class="layui-form-label label25">分销佣金类型： <b class="red">*</b></label>
            <div class="layui-input-block">
                <input type="radio" name="price_type"  value="0" title="百分比" {if ($info['price_type'] eq 0) }checked="checked"{/if}>
                <input type="radio" name="price_type"  value="1" title="固定金额" {if ($info['price_type'] eq 1)}checked="checked"{/if}>
            </div>
        </div>
       
        <div class="layui-form-item">
            <label class="layui-form-label label25">一级名称:  <b class="red">*</b></label>
            <div class="layui-input-block">
                <input type="text" name="first_name"  lay-verify="required" value="{if ($info['first_name'])}{$info['first_name']}{else/}一级{/if}" class="layui-input"> 
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label label25">一级佣金:  <b class="red">*</b></label>
            <div class="layui-input-block">
                <input type="text" name="first_fee"  onkeyup="num(this)"  lay-verify="required" value="{if ($info['first_fee'])}{$info['first_fee']}{else/}30{/if}" class="layui-input"> <span class="red units">{if ($info['price_type'])}元{else/}%{/if}</span>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label label25">二级名称:  <b class="red">*</b></label>
            <div class="layui-input-block">
                <input type="text" name="second_name"  lay-verify="required" value="{if ($info['second_fee'])}{$info['second_name']}{else/}二级{/if}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label label25">二级佣金:  <b class="red">*</b></label>
            <div class="layui-input-block">
                <input type="text" name="second_fee"  onkeyup="num(this)"  lay-verify="required" value="{if ($info['second_fee'])}{$info['second_fee']}{else/}20{/if}" class="layui-input"> <span class="red units">{if ($info['price_type'])}元{else/}%{/if}</span>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label label25">三级名称:  <b class="red">*</b></label>
            <div class="layui-input-block">
                <input type="text" name="third_name"  lay-verify="required" value="{if ($info['third_fee'])}{$info['third_name']}{else/}三级{/if}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label label25">三级拥金:  <b class="red">*</b></label>
            <div class="layui-input-block">
                <input type="text" name="third_fee"  onkeyup="num(this)"  lay-verify="required" value="{if ($info['first_fee'])}{$info['third_fee']}{else/}10{/if}" class="layui-input"> <span class="red units">{if ($info['price_type'])}元{else/}%{/if}</span>
            </div>
        </div>
        
        <div class="layui-form-item">
            <div class="layui-input-block" >
                <button type="button" class="layui-btn" lay-submit="" lay-filter="submit">{:lang('submit')}</button>
                <a href="{:url('index')}" class="layui-btn layui-btn-primary">{:lang('back')}</a>
            </div>
        </div>
    </form>
</div>
</div>
</div>
</div>
</div>
{/block}
{block name="js"}
<script>
        
        layui.use(['form', 'layer','upload'], function () {
            var form = layui.form, $ = layui.jquery, upload = layui.upload;
            form.on('radio()', function(data){
              if(data.value==0){
                  $('.units').html('%');
              }else{
                  $('.units').html('元');
              }
            }); 

            form.on('submit(submit)', function (data) {
                
                var loading = layer.load(1, {shade: [0.1, '#fff']});
                $.post("", data.field, function (res) {
                    layer.close(loading);
                    if (res.code > 0) {
                        layer.msg(res.msg, {time: 1800, icon: 1}, function () {
                            window.location.reload()
                            //location.href = res.url;
                        });
                    } else {
                        layer.msg(res.msg, {time: 1800, icon: 2});
                    }
                });
            });
            
           

            //普通图片上传
            var uploadInst = upload.render({
                elem: '#adBtn'
                ,url: '{:url("UpFiles/upload")}'
                ,before: function(obj){
                    //预读本地文件示例，不支持ie8
                    obj.preview(function(index, file, result){
                        $('#adPic').attr('src', result); //图片链接（base64）
                    });
                },
                done: function(res){
                    if(res.code>0){
                        $('#pic').val(res.url);
                    }else{
                        //如果上传失败
                        return layer.msg('上传失败');
                    }
                }
                ,error: function(){
                    //演示失败状态，并实现重传
                    var demoText = $('#demoText');
                    demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                    demoText.find('.demo-reload').on('click', function(){
                        uploadInst.upload();
                    });
                }
            });
        });

function num(obj){
obj.value = obj.value.replace(/[^\d.]/g,""); //清除"数字"和"."以外的字符
obj.value = obj.value.replace(/^\./g,""); //验证第一个字符是数字
obj.value = obj.value.replace(/\.{2,}/g,"."); //只保留第一个, 清除多余的
obj.value = obj.value.replace(".","$#$").replace(/\./g,"").replace("$#$",".");
obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d\d).*$/,'$1$2.$3'); //只能输入两个小数
}
</script>
{/block}