{extend name="Public:common" /}
{block name="css"}
<style type="text/css">
.layui-table tr td{
    border;solid 1px #CCC
}
.layui-table tr td .layui-row{
    border:solid 1px #EEE;
}
.layui-table tr td img{
    height:50px;
    width:50px;
    margin: 5px;
}
.red{margin-right: 20px}
</style>
{/block}
{block name="content"}
<div class="layui-fluid">
<div class="layui-row layui-col-space15">
<div class="layui-col-md12">
<div class="layui-card">
<div class="layui-card-body">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>{:lang('sharetixian')}管理</legend>
    </fieldset>
    <div class="demoTable">
        <div class="layui-inline">
            <input class="layui-input" name="key" id="key" placeholder="{:lang('pleaseEnter')}关键字">
        </div>
        <button class="layui-btn" id="search" data-type="reload">{:lang('search')}</button>
        <a href="{:url('type')}" class="layui-btn">显示全部</a>
        <div style="clear: both;"></div>
    </div>
    <table class="layui-table">
       <tr><th>商品信息</th><th>金额</th><th>订单状态</th><th>分销情况</th></tr>
    </table>
    <table class="layui-table">
        <th>ID</th><th>基本信息</th>    <th>账号信息</th>    <th>提现信息</th>    <th>状态</th>  <th>申请时间</th>    <th>操作</th>
        <tr>
            <td>97</td>
            <td>
                <img src="/uploads/20190313/e1a73ec370cc30e147e7755eace02ee3.jpg">codeHero 微信
            </td>
            <td>
                姓名：<span class="red">他说他</span><br/>
                昵称：<span class="red">已付款</span>
            </td>
            <td>
                用户申请提现金额：<span class="red">123123123123</span><br/>
                手续费：<span class="red">申通</span><br/>
                实际打款金额：<span class="red">王五【13211114422】</span> <br/>
            </td>    
            <td>
               已打款(微信线下支付)
            </td>
            <td>
               2019-05-15 09:19
            </td>
            <td>
               
            </td>
            </tr>
    </table>
</div>
</div>
</div>
</div>
</div>
{/block}
{block name="js"}
<script>
    layui.use('table', function() {
        var table = layui.table, $ = layui.jquery;
       
        //搜索
        $('#search').on('click', function () {
            var key = $('#key').val();
            if ($.trim(key) === '') {
                layer.msg('{:lang("pleaseEnter")}关键字！', {icon: 0});
                return;
            }
            tableIn.reload({
                where: {key: key}
            });
        });
        //排序
        $('body').on('blur','.list_order',function() {
            var type_id = $(this).attr('data-id');
            var sort = $(this).val();
            var loading = layer.load(1, {shade: [0.1, '#fff']});
            $.post('{:url("typeOrder")}',{type_id:type_id,sort:sort},function(res){
                layer.close(loading);
                if(res.code === 1){
                    layer.msg(res.msg, {time: 1000, icon: 1});
                    tableIn.reload();
                }else{
                    layer.msg(res.msg,{time:1000,icon:2});
                }
            })
        });
        table.on('tool(list)', function(obj) {
            var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('您确定要删除该广告分类吗？', function(index){
                    var loading = layer.load(1, {shade: [0.1, '#fff']});
                    $.post("{:url('delType')}",{type_id:data.type_id},function(res){
                        layer.close(loading);
                        if(res.code===1){
                            layer.msg(res.msg,{time:1000,icon:1});
                            tableIn.reload();
                        }else{
                            layer.msg('操作失败！',{time:1000,icon:2});
                        }
                    });
                    layer.close(index);
                });
            }
        });
    });
</script>
{/block}