{extend name="Public:common" /}
{block name="content"}
<div class="layui-fluid">
<div class="layui-row layui-col-space15">
<div class="layui-col-md12">
<div class="layui-card">
<div class="layui-card-body">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>添加会员卡</legend>
    </fieldset>
    <form class="layui-form" method="post">
        <table class="layui-table">
            <tr>
                <td>名称<span class="red">*</span></td>
                <td><input type="text" class="layui-input"   lay-verify="required" name="name" value="" /></td>
                <td></td>
            </tr>
            <!-- <tr>
                <td>排序</td>
                <td> <input type="text" class="layui-input"   lay-verify="defaul" name="sort" value="0" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"/></td>
                <td><div class="layui-form-mid layui-word-aux">数字越小越排前</div></td>
            </tr> -->
            <tr>
                <td>价格<span class="red">*</span></td>
                <td><input type="text" class="layui-input"   lay-verify="defaul" name="price" value="0" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"/></td>
                <td><div class="layui-form-mid layui-word-aux">价格免费发放价格为0即可</div></td>
            </tr>
            <tr>
                <td>会员卡使用获得积分<span class="red">*</span></td>
                <td><input type="text" class="layui-input"   lay-verify="defaul" name="points" value="100:1" /></td>
                <td><div class="layui-form-mid layui-word-aux">获得积分请填写 比例：100元1积分填写100:1；（冒号用英文冒号）</div></td>
            </tr>
            <tr>
                <td>会员卡折扣<span class="red">*</span></td>
                <td><input type="text" class="layui-input"   lay-verify="defaul" name="discount" value="0" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"/></td>
                <td><div class="layui-form-mid layui-word-aux">折扣范围0-10；例如：九五折请填写9.5</div></td>
            </tr>
            <tr>
                <td>满送方式<span class="red">*</span></td>
                <td><input name="full_send_way" id="full_send_way" checked value="0" type="radio" class="ace" title="不适用" />
                <input name="full_send_way" id="full_send_way"  value="1" type="radio" class="ace" title="必须一次购买满多少送" />
                    <input name="full_send_way" id="full_send_way"  value="2" type="radio" class="ace" title="从第一次在商家购买的总和" /></td>
                <td></td>
            </tr>
            <tr>
                <td>购买满多少送卡<span class="red">*</span></td>
                <td><input type="text" class="layui-input"   lay-verify="defaul" name="full_send" value="0" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"/></td>
                <td><div class="layui-form-mid layui-word-aux">会员购买多少商品可以免费领取此卡。</div></td>
            </tr>
            <tr>
                <td>介绍<span class="red">*</span></td>
                <td><textarea name="description" id="" cols="30" rows="10"></textarea></td>
                <td><div class="layui-form-mid layui-word-aux">介绍会员卡使用方法和领取方法</div></td>
            </tr>
            <tr>
                <td>状态<span class="red">*</span></td>
                <td><input name="status"  checked value="1" type="radio" class="ace" title="发放" />
                    <input name="status"  value="0" type="radio" class="ace" title="停发" /></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="3" style="text-align: center"><button type="button" class="layui-btn" lay-submit="" lay-filter="submit">提交</button>
                    <a href="{:url('index')}" class="layui-btn layui-btn-primary">返回列表</a></td>
            </tr>
        </table>

    </form>
</div>
</div>
</div>
</div>
</div>
{/block}

{block name="js"}
<script>
    layui.use(['form','jquery'], function () {
        var form = layui.form,$ = layui.jquery;
        form.on('submit(submit)', function (data) {
            $.post("{:url('add')}", data.field, function (res) {
                if (res.code > 0) {
                    layer.msg(res.msg, {time: 1800, icon: 1}, function () {
                        window.location.href="{:url('info')}"
                    });
                } else {
                    layer.msg(res.msg, {time: 1800, icon: 2});
                }
            });
        });
    });
</script>
{/block}