{extend name="Public:common" /}
{block name="content"}
<div class="layui-fluid">
<div class="layui-row layui-col-space15">
<div class="layui-col-md12">
<div class="layui-card">
<div class="layui-card-body">
        <fieldset class="layui-elem-field layui-field-title">
            <legend>添加优惠券</legend>
        </fieldset>
        <form class="layui-form" method="post">
            <div class="layui-form-item">
                <label class="layui-form-label">最低消费金额</label>
                <div class="layui-input-block">
                    <input type="text" name="min_price" required  lay-verify="required" placeholder="请输入最低消费金额" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">优惠金额</label>
                <div class="layui-input-block">
                    <input type="text" name="sub_price" required  lay-verify="required" placeholder="请输入优惠金额" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">有效开始时间</label>
                <div class="layui-input-block">
                    <input type="text"  name="begin_time" id="begin_time" required  lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">有效结束时间</label>
                <div class="layui-input-block">
                    <input type="text" name="end_time" id="end_time" required  lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">数量</label>
                <div class="layui-input-block">
                    <input type="text" name="total_count" required  lay-verify="number" autocomplete="off" placeholder="请输入数量" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">与平台券公用</label>
                <div class="layui-input-block">
                    <input type="radio" name="is_public" title="共用" value="1" checked>
                    <input type="radio" name="is_public" title="不共用" value="0">
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">使用说明</label>
                <div class="layui-input-block">
                    <textarea name="rule" placeholder="请输入使用说明" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="sort" class="layui-form-label">排序</label>
                <div class="layui-input-inline">
                    <input type="text" id="sort" name="sort" placeholder="从小到大排序" required=""  autocomplete="off" class="layui-input" value="0"></div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">特殊节日</label>
                <div class="layui-input-block">
                    <input type="text" name="special" required  lay-verify="number" autocomplete="off" placeholder="请输入节日日期" class="layui-input" value="0">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="button" class="layui-btn" lay-submit="" lay-filter="submit">{:lang('submit')}</button>
                    <a href="{:url('index')}" class="layui-btn layui-btn-primary">{:lang('back')}</a>
                </div>
            </div>
        </form>
</div>
</div>
</div>
</div>
</div>
{/block}
{block name="js"}
<script>
    layui.use(['form','laydate','jquery'], function () {
        var form = layui.form,
            laydate = layui.laydate,
            $ = layui.jquery;
        //自定义验证规则
        form.verify({
        });
        //监听提交
        form.on('submit(submit)', function (data) {
            // 提交到方法 默认为本身
            var loading = layer.load(1, {shade: [0.1, '#fff']});
            $.post("", data.field, function (res) {
                layer.close(loading);
                if (res.code > 0) {
                    layer.msg(res.msg, {time: 1800, icon: 1}, function () {
                        location.href = res.url;
                    });
                } else {
                    layer.msg(res.msg, {time: 1800, icon: 2});
                }
            });
        });
        //开始日期
        laydate.render({
            elem: "#begin_time",
            type:"date",
            format:"yyyy-MM-dd"
        });
        //结束日期
        laydate.render({
            elem: "#end_time",
            type:"date",
            format:"yyyy-MM-dd"
        });
    });
</script>
{/block}