{extend name="Public:common" /}
{block name="content"}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <form class="layui-form" method="post" enctype="multipart/form-data">

                        <div class="layui-form-item">
                            <label class="layui-form-label">开户银行：</label>
                            <div class="layui-input-inline">
                                <input type="text" id="username" name="bank_name" lay-verify="required" placeholder="请输入开户银行" autocomplete="off" class="layui-input" value="{$banks.bank_name}">
                            </div>
                            <div class="layui-form-mid layui-word-aux">
                                必填
                            </div>
                        </div>   
                        <div class="layui-form-item">
                            <label class="layui-form-label">银行卡号：</label>
                            <div class="layui-input-inline">
                                <input type="text" id="username" name="bank_number" lay-verify="required" placeholder="请输入银行卡号" autocomplete="off" class="layui-input" value="{$banks.bank_number}">
                            </div>
                            <div class="layui-form-mid layui-word-aux">
                                必填
                            </div>
                        </div>  
                        <div class="layui-form-item">
                            <label class="layui-form-label">开户人姓名：</label>
                            <div class="layui-input-inline">
                                <input type="text" id="username" name="bank_user_name" lay-verify="required" placeholder="开户人姓名" autocomplete="off" class="layui-input" value="{$banks.bank_user_name}">
                            </div>
                            <div class="layui-form-mid layui-word-aux">
                                必填
                            </div>
                        </div>  
                         <div class="layui-form-item">
                            <label class="layui-form-label">开户地址：</label>
                            <div class="layui-input-inline">
                                <input type="text" id="username" name="bank_address" lay-verify="required" placeholder="开户银行地址" autocomplete="off" class="layui-input" value="{$banks.bank_address}">
                            </div>
                            <div class="layui-form-mid layui-word-aux">
                                必填
                            </div>
                        </div>  
                        <input type="hidden" name="id" value="{$banks.id}">
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button type="button" class="layui-btn" lay-submit="" lay-filter="submit">{:lang('submit')}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="js"}
<script>
    layui.use(['form', 'layer'], function () {
        var form = layui.form, layer = layui.layer,$= layui.jquery;
        form.on('submit(submit)', function (data) {
            loading =layer.load(1, {shade: [0.1,'#fff']});
            $.post("{:url('editBank')}", data.field, function (res) {
                var index = parent.layer.getFrameIndex(window.name);
                layer.close(loading);
                if (res.code > 0) {
                    layer.msg(res.msg, {time: 1800, icon: 1}, function () {
                        parent.layer.close(index);
                        window.parent.location.reload();
                    });
                } else {
                    layer.msg(res.msg, {time: 1800, icon: 2});
                }
            });
        });
    });
</script>
{/block}