{extend name="Public:common" /}
{block name="content"}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-card-body ">

            <table id="order"></table>
        </div>

    </div>
</div>

{/block}


{block name="js"}
<script>
    layui.use(['table','form'], function() {
        var table = layui.table, form = layui.form, $ = layui.jquery;
        var tableIn = table.render({
            elem: '#order'
            ,url: "{:url('index')}" //数据接口
            ,page: true //开启分页
            ,cols: [[ //表头
                {field: 'id', title: '评论ID', sort: true, fixed: 'left'}
                ,{field: 'gtitle', title: '商品'}
                ,{field: 'umobile', title: '评论者'}
                ,{field: 'sname', title: '商家'}
                ,{field: 'add_time', title: '评论时间'}
                ,{field: 'is_show', align: 'center', title: '是否显示', width: 100, toolbar: '#open'},
                ,{width: 160,title:'操作', toolbar: '#action'}
            ]]
        });

        $('#search').on('click', function () {

            var key = $('#key').val();


            var paid = $('#paid').val();

//            if ($.trim(key) === '') {
//
//                layer.msg('{:lang("pleaseEnter")}关键字！', {icon: 0});
//
//                return;
//
//            }

            tableIn.reload({ page: {page: 1}, where: {key: key,paid:paid} });

        });

        form.on('switch(open)', function (obj) {
            loading = layer.load(1, {shade: [0.1, '#fff']});
            var id = this.value;
            var is_show = obj.elem.checked === true ? 1 : 0;
            $.post('{:url("editState")}', {'id': id, 'is_show': is_show}, function (res) {
                layer.close(loading);
                if (res.status == 1) {
                    tableIn.reload();
                } else {
                    layer.msg(res.msg, {time: 1000, icon: 2});
                    return false;
                }
            })
        });

        form.on('submit(sreach)', function(data){

            return false;
        });


    });
</script>


<script type="text/html" id="action">

    <a href="{:url('see')}?id={{d.id}}" class="layui-btn layui-btn-xs">查看</a>

</script>

<script type="text/html" id="open">
    <input type="checkbox" name="is_show" value="{{d.id}}" lay-skin="switch" lay-text="显示|隐藏" lay-filter="open" {{ d.is_show == 1 ? 'checked' : '' }}>
</script>
{/block}
