{extend name="Public:common" /}
{block name="css"}
    <style type="text/css">
        #mytab{
            margin-top: 20px;
        }
        .layui-tab-title .layui-this{
            color: red;
        }

    </style>
{/block}
{block name="content"}
<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-md12">

            <div class="layui-btn-group">
                <button class="layui-btn layui-btn-danger information" data-type="7">发送系统消息</button>
                <button class="layui-btn information" data-type="6">发送全商圈消息</button>
                <button class="layui-btn information" data-type="4">发送全商家消息</button>
                <button class="layui-btn information" data-type="2">发送全用户消息</button>
                <button class="layui-btn information" data-type="1">发送指定用户消息</button>
                <button class="layui-btn information" data-type="3">发送指定商家消息</button>
                <button class="layui-btn information" data-type="5">发送指定商圈消息</button>
            </div>
            <div>
                <!--消息类型，1 指定用户消息  2 全用户消息  3 指定商家消息   4 全商家消息    5 指定商圈消息  6 全商圈消息   7 总消息(系统消息)，商家 商圈 用户都能收到-->
                <ul class="layui-tab-title" id="mytab">
                    <li class="layui-this" data-type="7">系统消息</li>
                    <li data-type="6">全商圈消息</li>
                    <li data-type="5">指定商圈消息</li>
                    <li data-type="4">全商家消息</li>
                    <li data-type="3">指定商家消息</li>
                    <li data-type="2">全用户消息</li>
                    <li data-type="1">指定用户消息</li>
                </ul>
            </div>
            <div class="layui-card">
                <table class="layui-table" id="list" lay-filter="list"></table>
            </div>



        </div>
    </div>
</div>


{/block}

{block name="js"}
    <script type="text/javascript">
        var type_id;
        $('ul#mytab li').click(function(){
            type_id = $(this).attr('data-type');

            layui.use(['table','form'], function() {
                type_id = type_id;

                var table = layui.table, $ = layui.jquery, form = layui.form;

                var tableIn = table.render({

                    id: 'content',

                    elem: '#list',

                    url: '{:url("admin/information/index")}',
                    where:{type_id:type_id},

                    method: 'post',
                    toolbar: '#topBtn',

                    page: true,

                    cols: [[

                        {type: "checkbox", fixed: true},

                        {field: 'id', title: '消息编号'},

                        {field: 'title', title: '标题'},
                        {field: 'recevier', title: '消息接收者'},

                        {field: 'content', title: '内容'},

                        {field: 'add_time', title: '发送时间'},
                        {field: 'type_id', title: '消息类型'}

                    ]],

                    limit: 10

                });
                $('body').on('click','#delAll',function() {
                    layer.confirm('确认要删除选中的内容吗？', {icon: 3}, function(index) {
                        layer.close(index);
                        var checkStatus = table.checkStatus('content'); //content即为参数id设定的值
                        var ids = [];
                        $(checkStatus.data).each(function (i, o) {
                            ids.push(o.id);
                        });
                        var loading = layer.load(1, {shade: [0.1, '#fff']});
                        $.post("{:url('delAll')}", {ids: ids,catid:'{:input("catid")}'}, function (data) {
                            layer.close(loading);
                            if(data.code===1) {
                                layer.msg(data.msg, {time: 1000, icon: 1});
                                tableIn.reload();
                            } else {
                                layer.msg(data.msg, {time: 1000, icon: 2});
                            }
                        });
                    });
                })

            })

//            $.post("{:url('admin/information/index')}", {type_id: type_id}, function (data) {
//
//
//            });

        });



        layui.use(['table','form'], function() {

            var table = layui.table, $ = layui.jquery, form = layui.form;

            var tableIn = table.render({

                id: 'content',

                elem: '#list',

                url: '{:url("admin/information/index")}',

                method: 'post',
                toolbar: '#topBtn',
                page: true,

                cols: [[

                    {type: "checkbox", fixed: true},

                    {field: 'id', title: '消息编号'},

                    {field: 'title', title: '标题'},
                    {field: 'recevier', title: '消息接收者'},

                    {field: 'content', title: '内容'},

                    {field: 'add_time', title: '发送时间'},
                    {field: 'type_id', title: '消息类型'}

                ]],

                limit: 10

            });

            $('body').on('click','#delAll',function() {
                layer.confirm('确认要删除选中的内容吗？', {icon: 3}, function(index) {
                    layer.close(index);
                    var checkStatus = table.checkStatus('content'); //content即为参数id设定的值
                    var ids = [];
                    $(checkStatus.data).each(function (i, o) {
                        ids.push(o.id);
                    });
                    var loading = layer.load(1, {shade: [0.1, '#fff']});
                    $.post("{:url('delAll')}", {ids: ids,catid:'{:input("catid")}'}, function (data) {
                        layer.close(loading);
                        if(data.code===1) {
                            layer.msg(data.msg, {time: 1000, icon: 1});
                            tableIn.reload();
                        } else {
                            layer.msg(data.msg, {time: 1000, icon: 2});
                        }
                    });
                });
            })

        })



        $(function(){
            //type_id   消息类型，1 指定用户消息  2 全用户消息  3 指定商家消息   4 全商家消息    5 指定商圈消息  6 全商圈消息   7 总消息，商家 商圈 用户都能收到
            $('.information').click(function () {
                $(this).addClass('layui-btn-danger').siblings().removeClass('layui-btn-danger');
                var type_id = $(this).attr('data-type');
                if(type_id=='1'){
                    $(this).text("选择指定用户发送")
                    layui.use(['table','form'], function() {

                        var table = layui.table, form = layui.form, $ = layui.jquery;

                        var tableIn = table.render({

                            id: 'content',

                            elem: '#list',

                            url: '{:url("admin/users/index")}',

                            method: 'post',

                            toolbar: '#box1',

                            page: true,

                            cols: [[

                                {checkbox: true, fixed: true},

                                {field: 'id', title: '{:lang("id")}', width: 80, fixed: true},

                                {field: 'username', title: '{:lang("nickname")}', width: 120},

                                {field: 'level_name', title: '会员等级', width: 100},

                                {field: 'email', title: '{:lang("email")}', width: 250, templet: '#email'},

                                {field: 'mobile', title: '{:lang("tel")}', width: 150, hide: true},

                                {field: 'sex', title: '性别', width: 80, templet: '#sex', hide: true},

                                {field: 'reg_time', title: '注册时间', width: 150},

                                {width: 160, align: 'center', toolbar: '#action'}

                            ]],

                            limit: 10 //每页默认显示的数量


                        });

                        table.on('toolbar(list)', function(obj){
                            switch(obj.event){
                                case 'box1':
                                    var checkStatus = table.checkStatus('content'); //content即为参数id设定的值

                                    var ids = [];

                                    $(checkStatus.data).each(function (i, o) {

                                        ids.push(o.id);

                                    });
                                    if(ids==''){
                                        layer.msg('请选择要发送的！', {time: 1000, icon: 2});
                                        return false;
                                    }
                                    var user_ids = ids.join(",");
                                    var url = "{:url('admin/information/send')}";
                                    location.href = url+'?type_id='+type_id+'&user_ids='+user_ids;
                                    break;
                            };
                        });


                    });





                }else if(type_id=='3'){
                    //3 指定商家消息
                    layui.use(['table','form'], function() {

                        var table = layui.table, $ = layui.jquery, form = layui.form;

                        var tableIn = table.render({

                            id: 'content',

                            elem: '#list',

                            url: '{:url("admin/shop/index")}',

                            where: {catid: '{:input("catid")}'},

                            method: 'post',

                            toolbar: '#box3',

                            page: true,

                            cols: [[

                                {type: "checkbox", fixed: true},

                                {field: 'id', title: '{:lang("id")}', width: 80, fixed: true},

                                {field: 'name', title: '商家名称', width: 120, templet: '#name'},

                                {field: 'phone', title: '电话', width: 120},

                                {field: 'pastdue', title: '服务到期时间', width: 120},


                                {
                                    field: 'sort',
                                    align: 'center',
                                    title: '{:lang("order")}',
                                    width: 120,
                                    templet: '#order'
                                },

                                {field: 'status', align: 'center', title: '状态', width: 120, toolbar: '#status'},

                                {width: 160, align: 'center', toolbar: '#action', title: '操作'}

                            ]],

                            limit: 10

                        });

                        table.on('toolbar(list)', function(obj){
                            switch(obj.event){
                                case 'box3':
                                    var checkStatus = table.checkStatus('content'); //content即为参数id设定的值

                                    var ids = [];

                                    $(checkStatus.data).each(function (i, o) {

                                        ids.push(o.id);

                                    });
                                    if(ids==''){
                                        layer.msg('请选择要发送的！', {time: 1000, icon: 2});
                                        return false;
                                    }
                                    var ids = ids.join(",");
                                    var url = "{:url('admin/information/send')}";
                                    location.href = url+'?type_id='+type_id+'&ids='+ids;

                                    break;
                            };
                        });

                    })

                }else if(type_id=='5'){
                    //3 指定商家消息
                    layui.use(['table','form'], function() {

                        var table = layui.table, $ = layui.jquery, form = layui.form;

                        var tableIn = table.render({

                            id: 'content',

                            elem: '#list',

                            url: '{:url("admin/bigshop/index")}',

                            where: {catid: '{:input("catid")}'},

                            method: 'post',

                            toolbar: '#box5',

                            page: true,

                            cols: [[

                                {type: "checkbox", fixed: true},

                                {field: 'id', title: '{:lang("id")}', width: 80, fixed: true},

                                {field: 'name',  title: '商圈名称', width: 120,templet: '#name'},

                                {field: 'phone', title: '电话', width:120},

                                {field: 'pastdue',  title: '服务到期时间', width: 120},


                                {field: 'sort', align: 'center', title: '{:lang("order")}', width: 120, templet: '#order'},

                                {field: 'myaddress', align: 'center', title: '地址', width: 120},


                            ]],

                            limit: 10

                        });

                        table.on('toolbar(list)', function(obj){
                            switch(obj.event){
                                case 'box5':
                                    var checkStatus = table.checkStatus('content'); //content即为参数id设定的值

                                    var ids = [];

                                    $(checkStatus.data).each(function (i, o) {

                                        ids.push(o.id);

                                    });
                                    if(ids==''){
                                        layer.msg('请选择要发送的！', {time: 1000, icon: 2});
                                        return false;
                                    }
                                    var ids = ids.join(",");
                                    var url = "{:url('admin/information/send')}";
                                    location.href = url+'?type_id='+type_id+'&ids='+ids;
                                    break;
                            };
                        });

                    })

                }else{
                    var url = "{:url('admin/information/send')}";
                    location.href = url+'?type_id='+type_id;
                }

            });




        });

    </script>


    <script type="text/html" id="box1">

        <a href="javascript:void(0);" class="layui-btn layui-btn-sm" lay-event="box1">请选择指定用户发送消息</a>

    </script>


<script type="text/html" id="box3">

    <a href="javascript:void(0);" class="layui-btn layui-btn-sm" lay-event="box3">请选择指定商家发送消息</a>

</script>

<script type="text/html" id="box5">

    <a href="javascript:void(0);" class="layui-btn layui-btn-sm" lay-event="box5">请选择指定商圈发送消息</a>

</script>

<script type="text/html" id="topBtn">
    <button type="button" class="layui-btn layui-btn-danger layui-btn-sm" id="delAll">批量删除</button>
</script>
{/block}