<link rel="stylesheet" type="text/css" href="__HTTP__/static/admin/css/iview.css">
  <form autocomplete="off" class="ivu-form ivu-form-label-right" style="width: 100%; display: none;">
    <div class="ivu-form-item"><!----> 
      <div class="ivu-form-item-content" style="margin-left: 80px;">
        <div class="ivu-row">
          <div class="ivu-col ivu-col-span-5">
            <button type="button" class="ivu-btn ivu-btn-dashed ivu-btn-long"><!----> 
              <i class="ivu-icon ivu-icon-plus-round"></i> 
              <span>添加新规则</span>
            </button>
          </div>
        </div> <!---->
      </div>
    </div>
  </form> 
  <form autocomplete="off" class="ivu-form ivu-form-label-right" style="width: 100%;">
    <div class="ivu-form-item">
      <label class="ivu-form-item-label" style="width: 80px;">规则名称:</label> 
      <div class="ivu-form-item-content" style="margin-left: 80px;">
        <div class="ivu-row">
          <div class="ivu-col ivu-col-span-5" style="position: relative; margin-right: 6px;">
            <div class="ivu-input-wrapper ivu-input-type"><!----> <!----> 
              <i class="ivu-icon ivu-icon-load-c ivu-load-loop ivu-input-icon ivu-input-icon-validate"></i> 
              <input autocomplete="off" spellcheck="false" type="text" placeholder="设置名称" class="ivu-input"> <!---->
            </div> 
            <button type="button" class="ivu-btn ivu-btn-ghost" style="position: absolute; top: 0px; right: 0px; margin-top: 1px; border: none; font-size: 8px; line-height: 1.8;"><!----> <!----> 
              <span><i class="ivu-icon ivu-icon-close-round"></i></span>
            </button> 
            <button type="button" class="ivu-btn ivu-btn-ghost" style="position: absolute; top: 0px; right: 0px; margin-top: 1px; border: none; font-size: 8px; line-height: 1.8; display: none;"><!----> <!----> 
              <span><i class="ivu-icon ivu-icon-checkmark-round"></i></span>
            </button>
          </div> 
          <div class="ivu-col ivu-col-span-5">
            <button type="button" class="ivu-btn ivu-btn-dashed ivu-btn-long"><!----> 
              <i class="ivu-icon ivu-icon-plus-round"></i> 
              <span>添加新规则</span>
            </button>
          </div>
        </div> <!---->
      </div>
    </div> 
    <div class="ivu-form-item">
      <label class="ivu-form-item-label" style="width: 80px;">颜色:</label> 
      <div class="ivu-form-item-content" style="margin-left: 80px;">
        <div class="ivu-row">
          <div class="ivu-col ivu-col-span-3" name="黑色">
            <div class="ivu-tag ivu-tag-blue ivu-tag-border ivu-tag-closable ivu-tag-checked"><!----> 
              <span class="ivu-tag-text ivu-tag-color-blue">黑色</span> 
              <i class="ivu-icon ivu-icon-ios-close-empty ivu-tag-color-blue"></i>
            </div>
          </div>
          <div class="ivu-col ivu-col-span-3" name="白色">
            <div class="ivu-tag ivu-tag-blue ivu-tag-border ivu-tag-closable ivu-tag-checked"><!----> 
              <span class="ivu-tag-text ivu-tag-color-blue">白色</span> 
              <i class="ivu-icon ivu-icon-ios-close-empty ivu-tag-color-blue"></i>
            </div>
          </div>
          <div class="ivu-col ivu-col-span-3" name="蓝色">
            <div class="ivu-tag ivu-tag-blue ivu-tag-border ivu-tag-closable ivu-tag-checked"><!----> 
              <span class="ivu-tag-text ivu-tag-color-blue">蓝色</span> 
              <i class="ivu-icon ivu-icon-ios-close-empty ivu-tag-color-blue"></i>
            </div>
          </div> 
          <div class="ivu-col ivu-col-span-5">
            <div class="ivu-input-wrapper ivu-input-type"><!----> <!----> 
              <i class="ivu-icon ivu-icon-load-c ivu-load-loop ivu-input-icon ivu-input-icon-validate"></i> 
              <input autocomplete="off" spellcheck="false" type="text" placeholder="设置属性" class="ivu-input"> <!---->
            </div>
          </div> 
          <div class="ivu-col ivu-col-span-5">
            <button type="button" class="ivu-btn ivu-btn-primary" style="margin-left: 6px;"><!----> <!----> 
              <span>添加</span>
            </button>
          </div>
        </div> <!---->
      </div>
    </div> 
    <div class="ivu-form-item" style="width: 100%;"><!----> 
      <div class="ivu-form-item-content" style="margin-left: 80px;">
        <div class="ivu-row" style="margin: 0px 88px 0px 20px;">
          <div class="ivu-col ivu-col-span-24">
            <button type="button" class="ivu-btn ivu-btn-primary ivu-btn-long"><!----> <!----> 
              <span>生成</span>
            </button>
          </div>
        </div> <!---->
      </div>
    </div> 
  </form> 
  <div class="ivu-spin ivu-spin-fix ivu-spin-show-text" style="display: none;">
    <div class="ivu-spin-main">
      <span class="ivu-spin-dot"></span> 
      <div class="ivu-spin-text">保存中...</div>
    </div>
  </div>