{extend name="Public:common" /}
{block name="css"}
<style>
.layui-card-header{border-bottom:solid 1px #EEE;}
label{font-weight: bold;color:#009688;}
.bottom,.bottoms{display: inline-block;width:200px;text-align: right;font-size: 14px}
.bottoms{text-align: left;width:80px;}
.green{color: #7BBC52;font-weight:bold;}
.hui{color:#989898;}
</style>
{/block}
{block name="content"}
<div class="layui-fluid">
<div class="layui-row layui-col-space15">
<div class="layui-col-md12">
<div class="layui-card">
    
    <div class="layui-card-header">申请信息</div>
    <div class="layui-card-body">
        <div class="layui-row" style="padding-left: 30px">
            <div class="layui-col-md12">
              <label class="green">订单号：</label>{$info.order_sn}
            </div>
            <div class="layui-col-md12">
              <label class="green">金额：</label>{$info.money}
            </div>
            <div class="layui-col-md12">
             <label class="green">联系电话：</label>{$info.mobile}
            </div>
            <div class="layui-col-md12">
             <label class="green">申请说明：</label>{$info.remark}
            </div>
            <div class="layui-col-md12">
             <label class="green">申请图片说明：</label>
             {volist name="info['imgs']" id="v"}
              <img width=80 src="/{$v}"  onmouseover="layer.tips('<img   src=\'/{$v}\'>',this,{tips: [1, '#fff']});" onmouseout="layer.closeAll();"/>
            {/volist}
            </div>
            
      </div>
    </div>

     <div class="layui-card-header">处理信息</div>
    <div class="layui-card-body">
        <div class="layui-row" style="padding-left: 30px">
            <div class="layui-col-md12">
              <label class="green">处理时间：</label>{$info.do_time|date="Y-m-d H:i:s",###}
            </div>
            <div class="layui-col-md12">
              <label class="green">状态：</label>{:get_status($info.status,'check')}
            </div>
            <div class="layui-col-md12">
             <label class="green">申请说明：</label>{$info.shop_remark}
            </div>
            
      </div>
    </div>
   
    <div class="layui-card-header">商品清单</div>
    <div class="layui-card-body">
        <table class="layui-table">
           <tr>
               <th>商品</th>
               <th>商品编号</th>
               <th>单价</th>
               <th>数量</th>
               <th>总价</th>
           </tr>
           {volist name="goods" id="val"}
           <tr>
               <td><img src="{$val.headimg}" height="60px" width="60px">{$val.title}</td>
               <td>{$val.id}</td>
               <td>{$val.price}</td>
               <td>{$val.num}</td>
               <td>{$val['num']*$val['price']}</td>
           </tr>
           {/volist}
           <tr><td colspan="5" style="text-align: right">
                <label class="red bottom">商品总金额：</label><span class="bottoms">¥ {$info.counts}</span><br/>
                <label class="red bottom">运费：</label><span class="bottoms">¥ 0.00</span><br/>
                <label class="red bottom">应付总金额：</label><span class="bottoms">¥ {$info.counts}</span><br/>
                <label class="red bottom">积分抵扣金额：</label><span class="bottoms">¥ -0.00</span><br/>
                <label class="red bottom">实付总金额：</label><span class="bottoms">¥ {$info.counts}</span><br/>
                <label class="red bottom">可获得积分：</label><span class="bottoms">0个</span>
           </td></tr>
        </table>
    </div>
    {if($info['status']==0)}
    <div class="content-bottom">
       <a class="layui-btn" id="check" title="审核通过">通过</a>
       <a class="layui-btn layui-btn-danger" id="nocheck" title="审核不通过">不通过</a>
    </div> 
    {/if}   
</div>

</div>
</div>
</div>
{/block}
{block name="js"}
<script>
var id={$info.id};
layui.use('layer', function () {
    var layer = layui.layer,$= layui.jquery;
    $('#check').click(function() {
      layer.prompt({formType: 2,title: '请输入通过处理说明'}, 
        function(value, index){
            var loading = layer.load(1, {shade: [0.1, '#fff']});
            $.post("{:url('setrefundstatus')}",{id:id,text:value,status:2},function(res){
                layer.close(loading);
                if(res.code===1){
                    layer.msg(res.msg,{time:1000,icon:1},function(){
                        location.reload();
                    });
                    tableIn.reload({where:{way:'{:input("way")}'}});
                }else{
                    layer.msg('操作失败！',{time:1000,icon:2});
                }
            });
            layer.close(index);
      })   
    })
    $('#nocheck').click(function() {
        layer.prompt({formType: 2,title: '请输入不通过原因'}, 
        function(value, index){
            var loading = layer.load(1, {shade: [0.1, '#fff']});
            $.post("{:url('setrefundstatus')}",{id:id,text:value,status:1},function(res){
                layer.close(loading);
                if(res.code===1){
                    layer.msg(res.msg,{time:1000,icon:1},function(){
                        location.reload();
                    });
                }else{
                    layer.msg('操作失败！',{time:1000,icon:2});
                }
            });
            layer.close(index);
        });
    })
});
</script>
{/block}
