{extend name="Public:common" /}

{block name="css"}
<style>
    .layui-upload-img { width: 90px; height: 90px; margin: 0; }
    .pic-more { width:100%; left; margin: 10px 0px 0px 0px;}
    .pic-more li { width:90px; float: left; margin-right: 5px;}
    .pic-more li .layui-input { display: initial; }
    .pic-more li a { position: absolute; top: 0; display: block; }
    .pic-more li a i { font-size: 24px; background-color: #008800; }
    #slide-pc-priview .item_img img{ width: 90px; height: 90px;}
    #slide-pc-priview li{position: relative;}
    #slide-pc-priview li .operate{ color: #000; display: none;}
    #slide-pc-priview li .toleft{ position: absolute;top: 40px; left: 1px; cursor:pointer;}
    #slide-pc-priview li .toright{ position: absolute;top: 40px; right: 1px;cursor:pointer;}
    #slide-pc-priview li .close{position: absolute;top: 5px; right: 5px;cursor:pointer;}
    #slide-pc-priview li:hover .operate{ display: block;}
</style>
{/block}

{block name="content"}
<div class="layui-fluid">
    <div class="layui-row">
        <fieldset class="layui-elem-field layui-field-title">

            <legend>添加文章</legend>

        </fieldset>

        <form class="layui-form" method="post" enctype="multipart/form-data">


            <div class="layui-form-item">
                <label class="layui-form-label">栏目</label>
                <div class="layui-input-block" id="box_catid">
                    <select  id="catid" lay-verify="required" name="catid"  validate=" minlength:1, maxlength:6, required:true"  title="必须选择一个栏目">
                        <option value="">请选择栏目</option>
                        {$cat_tree}
                    </select>
                </div>
            </div>



            <div class="layui-form-item">
                <label class="layui-form-label">标题</label>
                <div class="layui-input-block" id="box_title">
                    <input type="text" name="title" data-required="1" value="" data-min="1" data-max="80" data-errormsg="标题必须为1-80个字符" title="标题" placeholder="请输入标题"  lay-verify="required" class="title layui-input"/>
                </div>
            </div>




            <div class="layui-form-item">
                <label for="style_color" class="layui-form-label">标题颜色</label>
                <div class="layui-input-inline" id="style_color">

                </div>

                <input type="hidden"  name="style_color"  required="" lay-verify="required" autocomplete="off" class="layui-input">
            </div>




            <div class="layui-form-item">
                <label class="layui-form-label">加粗</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="style_bold" value="bold"  title="加粗">
                </div>
            </div>




            <div class="layui-form-item" id="pics">
                <div class="layui-form-label">缩略图</div>
                <div class="layui-input-block" style="width: 70%;">
                    <div class="layui-upload">
                        <button type="button" class="layui-btn layui-btn-primary pull-left" id="slide-pc">选择缩略图</button>
                        <div class="pic-more">
                            <ul class="pic-more-upload-list" id="slide-pc-priview">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <div class="layui-form-item">
                <label class="layui-form-label">关键词</label>
                <div class="layui-input-block" id="box_keywords">
                    <input type="text" data-required="0" min="0" max="80" errormsg="" title="关键词" placeholder="请输入关键词" lay-verify="defaul|" class=" layui-input" name="keywords" value="" />
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">标签</label>
                <div class="layui-input-block" id="box_tags">
                    <input type="text" data-required="1" min="0" max="0" errormsg="" title="标签" placeholder="请输入标签（多个标签之间使用英文逗号,分割）" lay-verify="defaul" class="tags layui-input" name="tags" value="" />
                </div>
            </div>


            <div class="layui-form-item">
                <label class="layui-form-label">内容</label>
                <div class="layui-input-block" id="box_content">
                    <input type="hidden" id="editType" value="1">
                    <textarea name="content" class="content" id="content"></textarea>
                </div>
            </div>


            <div class="layui-form-item">
                <label class="layui-form-label">发布时间</label>
                <div class="layui-input-block" >
                    <input type="datetime" title="发布时间" name="createtime"  class="createtime layui-input" id="createtime">
                </div>
            </div>




            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="button" class="layui-btn" lay-submit="" lay-filter="submit">{:lang('submit')}</button>
                    <a href="{:url('index')}" class="layui-btn layui-btn-primary">{:lang('back')}</a>
                </div>
            </div>

        </form>
    </div>
</div>
{/block}

{block name="js"}
<script src="LIB/ueditor/ueditor.config.js" type="text/javascript"></script>
<script src="LIB/ueditor/ueditor.all.min.js" type="text/javascript"></script>

<script>
    //百度编辑器
    var editor = new UE.ui.Editor();editor.render("content");

    layui.use(['form','upload','layedit','laydate','jquery','rate','colorpicker'], function () {
        var form = layui.form,
            upload = layui.upload;
            layedit = layui.layedit,
            laydate = layui.laydate,
            $ = layui.jquery,
            rate = layui.rate,
            colorpicker = layui.colorpicker;

        //自定义验证规则
        form.verify({

        });

        //监听提交
        form.on('submit(submit)', function (data) {
            // 提交到方法 默认为本身
            var loading = layer.load(1, {shade: [0.1, '#fff']});
            $.post("", data.field, function (res) {

                layer.close(loading);

                if (res.code > 0) {

                    layer.msg(res.msg, {time: 1800, icon: 1}, function () {

                        location.href = res.url;

                    });

                } else {

                    layer.msg(res.msg, {time: 1800, icon: 2});

                }

            });

        });


        //颜色
        colorpicker.render({
            elem: '#style_color'
            ,predefine: true
            ,colors: ["#ffffff", "#000000", "#ff0000", "#ff8000", "#ffff00", "#008000", "#0000ff", "#4b0082", "#9400d3"]
            ,change: function(color){
                $('input[name=style_color]').val(color);
            }
        });

        //日期时间
        laydate.render({
            elem: "#createtime",
            type:"datetime",
            format:"yyyy-MM-dd HH:mm:ss"
        });

        //缩略图上传
        upload.render({
            elem: '#slide-pc',
            url: "{:url('admin/common/upload')}",
            size: 10000000,
            exts: 'jpg|png|jpeg|gif',
            multiple: false,
            before: function(obj) {
                layer.msg('图片上传中...', {
                    icon: 16,
                    shade: 0.01,
                    time: 0
                })
            },
            done: function(res) {
                layer.close(layer.msg());//关闭上传提示窗口
                if(res.status == 0) {
                    return layer.msg(res.message);
                }
                //$('#slide-pc-priview').append('<input type="hidden" name="pc_src[]" value="' + res.filepath + '" />');
                $('#slide-pc-priview').append('<li class="item_img"><div class="operate"><i class="toleft layui-icon"></i><i class="toright layui-icon"></i><i  class="close layui-icon"></i></div><img src="/' + res.filepath + '" class="img" ><input type="hidden" name="thumb" value="' + res.filepath + '" /></li>');
            }
        });


    });

    //点击多图上传的X,删除当前的图片
    $("body").on("click",".close",function(){
        $(this).closest("li").remove();
    });
    //多图上传点击<>左右移动图片
    $("body").on("click",".pic-more ul li .toleft",function(){
        var li_index=$(this).closest("li").index();
        if(li_index>=1){
            $(this).closest("li").insertBefore($(this).closest("ul").find("li").eq(Number(li_index)-1));
        }
    });
    $("body").on("click",".pic-more ul li .toright",function(){
        var li_index=$(this).closest("li").index();
        $(this).closest("li").insertAfter($(this).closest("ul").find("li").eq(Number(li_index)+1));
    });
</script>
{/block}
