{extend name="Public:common" /}
{block name="content"}
<div class="layui-fluid">
<div class="layui-row layui-col-space15">
<div class="layui-col-md12">
<div class="layui-card">
<div class="layui-card-body">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>楼层管理</legend>
    </fieldset>
    <table class="layui-table" id="list" lay-filter="list"></table>
</div>
</div>
</div>
</div>
</div>
{/block}
{block name="js"}
<script type="text/html" id="barDemo">
    <a href="{:url('FloorEdit')}?id={{d.id}}" class="layui-btn layui-btn-xs">{:lang('edit')}</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">{:lang('del')}</a>
    <a class="layui-btn layui-btn-xs" onclick="xadmin.open('添加商家','{:url("shop/lists")}?fid={{d.id}}',800,600)">{:lang('add')}商家</a>
</script>
<script type="text/html" id="open">
    {{# if(d.admin_id==1){ }}
        <input type="checkbox" disabled name="is_open" value="{{d.admin_id}}" lay-skin="switch" lay-text="开启|关闭" lay-filter="open" checked>
    {{# }else{  }}
        <input type="checkbox" name="is_open" value="{{d.admin_id}}" lay-skin="switch" lay-text="开启|关闭" lay-filter="open" {{ d.is_open == 1 ? 'checked' : '' }}>
    {{# } }}
</script>
<script type="text/html" id="topBtn">
   <a href="{:url('FloorAdd')}" class="layui-btn layui-btn-sm">{:lang('add')}楼层</a>
</script>
<script>
    layui.use(['table','form'], function() {
        var table = layui.table,form = layui.form,$ = layui.jquery;
        var tableIn = table.render({
            elem: '#list',
            url: '{:url("")}',
            method:'post',
			toolbar: '#topBtn',
			title:'{:lang("admin")}{:lang("list")}',
            cols: [[
                {field:'id', title: '编号', width:60,fixed: true}
                ,{field:'num', title: '楼号', width:180}
                ,{field:'name', title: '名称', width:180}
                ,{field:'intro', title: '介绍', width:300}
                ,{width:300, align:'center', toolbar: '#barDemo'}
            ]]
        });
       
        table.on('tool(list)', function(obj){
            var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('确定删除此楼层？', function(index){
                    $.post("{:url('FloorDel')}",{admin_id:data.admin_id},function(res){
                        if(res.code==1){
                            layer.msg(res.msg,{time:1000,icon:1});
                            obj.del();
                        }else{
                            layer.msg(res.msg,{time:1000,icon:2});
                        }
                    });
                    layer.close(index);
                });
            }
        });
    });
</script>
{/block}