{extend name="Public:common" /}
{block name="content"}
<div class="layui-fluid">
<div class="layui-row layui-col-space15">
<div class="layui-col-md12">
<div class="layui-card">
<div class="layui-card-body">
    <form action="" class="layui-form" lay-filter="form" method="post">
        {volist name="lists" id="v" key="k" empty="<b class='red'>无未分配的商家</b>"}
          <div class="layui-form-item">
            <div class="layui-input-inline">
              <input type="checkbox" name="sid[]" value="{$v.id}" title="{$v.name}">
            </div>
          </div>
        {/volist} 
        <input type="hidden" name="fid" value="{:input('fid')}">
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button" class="layui-btn" lay-submit="" lay-filter="submit">{:lang('submit')}</button>
            </div>
        </div>
    </form>
</div>
</div>
</div>
</div>
</div>
{/block}
{block name="js"}
<script>
layui.use(['form', 'layer','upload'], function () {
        var form = layui.form, layer = layui.layer,$= layui.jquery,upload = layui.upload;
        form.on('submit(submit)', function (data) {
            loading =layer.load(1, {shade: [0.1,'#fff']});
            $.post("{:url('')}", data.field, function (res) {
                var index = parent.layer.getFrameIndex(window.name);
                layer.close(loading);
                if (res.code > 0) {
                    layer.msg(res.msg, {time: 1800, icon: 1}, function () {
                        parent.layer.close(index);
                        window.parent.location.reload();
                    });
                } else {
                    layer.msg(res.msg, {time: 1800, icon: 2});
                }
            });
        });
        
    });
</script>
{/block}