{extend name="Public:common" /}
{block name="content"}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <fieldset class="layui-elem-field layui-field-title">
                        <legend>结算申请</legend>
                    </fieldset>
                    <!-- <div class="demoTable">
                        <form class="layui-form">
                            <div class="layui-inline">
                                <input class="layui-input" name="key" id="key" placeholder="{:lang('pleaseEnter')}关键字">
                            </div>
                            <div class="layui-inline ">
                                <select name="status" id="" lay-filter="status">
                                    <option value=" ">状态</option>
                                    <option value="0">待审核</option>
                                    <option value="2">审核通过</option>
                                    <option value="1">未通过</option>
                                </select>
                            </div>
                            <button type="button" class="layui-btn" lay-submit="" lay-filter="submit">搜索</button>
                            <a href="{:url('nows')}" class="layui-btn">显示全部</a>
                        </form>
                    </div> -->
                    <table class="layui-table" id="list" lay-filter="list"></table>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="js"}
<script>
    layui.use(['table', 'form'], function () {
        var table = layui.table, form = layui.form, $ = layui.jquery;
        var tableIn = table.render({
            id: 'user',
            elem: '#list',
            url: '{:url("")}',
            method: 'post',
            page: true,
            cols: [[
                { field: 'settlementNo', title: '结算单号', width: 80 },
                { field: 'name', title: '申请店铺', width: 150 },
                { field: 'shop_category', title: '所属行业', width: 150 },
                { field: 'brokerage', title: '佣金', width: 150 },
                { field: 'send_type', title: '配送类型', width: 150},
                { field: 'freight', title: '配送费', width: 150 },
                { field: 'settlementMoney', title: '结算金额', width: 80 },
                { field: 'backMoney', title: '返还金额', width: 100 },
                { field: 'createTime', title: '申请时间', width: 200 },
                { field: 'settlementStatus', title: '状态', width: 100 ,templet:'#status'},                
                { width: 160, align: 'center', toolbar: '#action', title: '操作' }
            ]],
            limit: 10 //每页默认显示的数量
        });
        table.on('tool(list)', function (obj) {
            var data = obj.data;
            if (obj.event === 'agree') {
                layer.confirm('您确定同意该请求吗？', function (index) {
                    var loading = layer.load(1, { shade: [0.1, '#fff'] });
                    $.post("{:url('dosettlements')}", { id: data.settlementId }, function (res) {
                        layer.close(loading);
                        if (res.code === 1) {
                            layer.msg(res.msg, { time: 1000, icon: 1 });
                            tableIn.reload();
                        } else {
                            layer.msg(res.msg, { time: 1000, icon: 2 });
                        }
                    });
                    layer.close(index);
                });
            }      
        });
        // form.on('submit(submit)', function (data) {
        //    var key =data.field.key;
        //    var status=data.field.status;
        //    tableIn.reload({page:{page:1},where:{key:key,status:status}});
        // })

    });
</script>
<script type="text/html" id="action">
{{# if(d.settlementStatus==0){ }}
    <a class="layui-btn layui-btn-xs" lay-event="agree">同意</a>   
{{# } }}    
</script>
<script type="text/html" id="status">
    {{# if(d.settlementStatus==0){ }}
        <span style="color:#31c15a">未结算</span>
    {{# }else{}}
        <span style="color:#31c15a">已结算</span>
    {{# }}}    
    </script>
{/block}