{extend name="Public:common" /}
{block name="content"}
<div class="layui-fluid">
<div class="layui-row layui-col-space15">
<div class="layui-col-md12">
<div class="layui-card">
<div class="layui-card-body">
<fieldset class="layui-elem-field layui-field-title">
    <legend>商家分类</legend>
</fieldset>
<table class="layui-table" id="list" lay-filter="list"></table>              
 </div>
</div>
</div>
</div>
</div>
{/block}
{block name="js"}
<script type="text/javascript">
    layui.use(['table','form'], function() {
        var table = layui.table, $ = layui.jquery,form = layui.form;
        var tableIn = table.render({
            id: 'content',
            elem: '#list',
            url: '{:url("admin/shop/shopCategoryList")}',           
            method: 'post',
            toolbar: '#topBtn',
            page: true,
            cols: [[               
                {field: 'id', title: '{:lang("id")}', width: 80, fixed: true},
                {field: 'shop_category',  title: '分类名称'},
                {field: 'brokerage',  title: '佣金%比'},                
                {width: 300, align: 'center', toolbar: '#action',title:'操作'}
            ]],
            limit: 10
        });
        form.on('switch(status)', function(obj){
            loading =layer.load(1, {shade: [0.1,'#fff']});
            var id = this.value;
            var status = obj.elem.checked===true?1:0;
            $.post('{:url("shopState")}',{'id':id,'status':status},function (res) {
                layer.close(loading);
                if (res.code==1) {
                    tableIn.reload();
                }else{
                    layer.msg(res.msg,{time:1000,icon:2});
                    return false;
                }
            })
        });
      
        $('body').on('blur','.list_order',function() {
            var id = $(this).attr('data-id');
            var sort = $(this).val();
            var loading = layer.load(1, {shade: [0.1, '#fff']});
            $.post('{:url("listorder")}',{id:id,sort:sort},function(res){
                layer.close(loading);
                if(res.code === 1){
                    layer.msg(res.msg, {time: 1000, icon: 1}, function () {
                        location.href = res.url;
                    });
                }else{
                    layer.msg(res.msg,{time:1000,icon:2});
                }
            })
        });
        table.on('tool(list)', function(obj) {
            var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('您确定要删除该内容吗？', function(index){
                    var loading = layer.load(1, {shade: [0.1, '#fff']});
                    $.post("{:url('shop/delShopCategory')}",{id:data.id},function(res){
                        layer.close(loading);
                        if(res.code===1){
                            layer.msg(res.msg,{time:1000,icon:1});
                            tableIn.reload({where:{catid:'{:input("catid")}'}});
                        }else{
                            layer.msg('操作失败！',{time:1000,icon:2});
                        }
                    });
                    layer.close(index);
                });
            }
            if(obj.event === 'nature'){
                layer.open({
                    type: 2,
                    title: '商品属性',
                    area: ['700px', '450px'],
                    fixed: false, //不固定
                    maxmin: true,
                    content: ['details.html','no']
                });
            }
        });
    
    });
</script>
<script type="text/html" id="order">
    <input name="{{d.id}}" data-id="{{d.id}}" class="list_order layui-input" value=" {{d.sort}}" size="10"/>
</script>

<script type="text/html" id="action">   
    <a href="{:url('admin/shop/editShopCategory')}?id={{d.id}}" class="layui-btn layui-btn-xs">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>   
</script>
<script type="text/html" id="myaddress">
    <p>{d.province}</p>
</script>
<script type="text/html" id="topBtn">   
    <a href="{:url('shop/addShopCategory')}" class="layui-btn"><i class="layui-icon"></i>{:lang('add')}</a>
</script>
{/block}