{extend name="Public:common" /}
{block name="content"}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <form class="layui-form" method="post" enctype="multipart/form-data">

                        <div class="layui-form-item">
                            <label class="layui-form-label">申请金额：</label>
                            <div class="layui-input-inline">
                                <input type="text"  class="layui-input" value="{$fun_new.money}" disabled>
                            </div>                            
                        </div>   
                        <div class="layui-form-item">
                            <label class="layui-form-label">到账金额：</label>
                            <div class="layui-input-inline">
                                <input type="text"  name="tmoney" lay-verify="required" placeholder="请输入实际到账金额" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-form-mid layui-word-aux">
                                必填
                            </div>
                        </div>  
                        <div class="layui-form-item">
                            <label class="layui-form-label">凭证：</label>
                            <div class="layui-input-inline">
                                <div class="upload-picture">
                                    <img src="IMG/upload_200_150.jpg" width="200" height="150" class="preview-picture" onerror="javascript:this.src='IMG/upload_200_150.jpg';">
                                </div>
                                <input type="hidden" name="pzimg" value="">
                            </div>
                            <div class="layui-form-mid layui-word-aux">
                                必填
                            </div>
                        </div>  
                         <div class="layui-form-item">
                            <label class="layui-form-label">备注：</label>                           
                                <div class="layui-input-block">
                                    <textarea placeholder="请输入内容" class="layui-textarea" name="info"></textarea>
                                </div>    
                        </div>  
                        <input type="hidden" name="id" value="{$fun_new.id}">
                        <input type="hidden" name="status" value="2">
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button type="button" class="layui-btn" lay-submit="" lay-filter="submit">{:lang('submit')}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="js"}
<script>
    var albummoduleid = '{$albummoduleid}';
    var logomoduleid = '{$logomoduleid}';
    layui.use(['form', 'layer','upload'], function () {
        var form = layui.form,  upload = layui.upload,layer = layui.layer,$= layui.jquery;
        form.on('submit(submit)', function (data) {
            loading =layer.load(1, {shade: [0.1,'#fff']});
            $.post("{:url('fundnowdo')}", data.field, function (res) {
                var index = parent.layer.getFrameIndex(window.name);
                layer.close(loading);
                if (res.code > 0) {
                    layer.msg(res.msg, {time: 1800, icon: 1}, function () {
                        parent.layer.close(index);
                        window.parent.location.reload();
                    });
                } else {
                    layer.msg(res.msg, {time: 1800, icon: 2});
                }
            });
        });
        upload.render({
            elem: '.upload-picture',
            url: uploadApi,
            data: {
                moduleid: logomoduleid,
                attachmark: attachmark,
                identity: identity,
            },
            field: 'upfile',
            //size: 20000,
            exts: 'jpg|png|jpeg',
            before: function(obj) {
                layer.msg('图片上传中...', {
                    icon: 16,
                    shade: 0.01,
                    time: 0
                })
            },
            done: function(res, index, upload){ //上传后的回调
                layer.msg(res.message);
                if( res.status == 'success' ){                   
                        $('input[name=pzimg]').val(res.uploadInfo.attachurl);
                        $('img','.upload-picture').attr('src',res.uploadInfo.attachurl);
                   
                }
            }
        });
    });
</script>
{/block}